.modal__container {
  @include tx-layer(top);
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  visibility: hidden;
  backdrop-filter: blur(81.5485px);
}

.modal {
  position: absolute;
  top: 80px;
  left: calc(50% - #{$modalWidth / 2});
  display: block;
  max-width: $modalWidth;
  max-height: fit-content;
  overflow: hidden;
  border-radius: 6px;

  @include tx-media(phone) {
    left: calc(50% - #{$modalWidthMobile / 2});
    max-width: $modalWidthMobile;
  }
}

$pseudoOffset: 30px;

.reserved--modal {
  &::before {
    @include tx-font-size(24px);
    width: calc(100% - #{$pseudoOffset});
    max-height: 180px;
    padding: 20px 0 0 $pseudoOffset;
    text-align: left;
  }
}

$closeButtonOffsetXDesktop: 11px;
$closeButtonOffsetXMobile: 20px;
$closeButtonOffsetYMobile: 49px;

.modal__close-button {
  position: absolute;
  top: 80px;
  left: calc(50% + #{$modalWidth / 2} + #{$closeButtonOffsetXDesktop});
  width: 20px;
  height: 20px;
  padding: 0;
  color: $white;
  background: url('/icons/_close-button.svg');

  @include tx-media(phone) {
    top: $closeButtonOffsetYMobile;
    left: calc(50% + #{$modalWidthMobile / 2} - #{$closeButtonOffsetXMobile});
  }
}

.modal__img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

.modal__inner {
  @include container-width($modalContainerWidth);

  @include tx-media(phone) {
    @include container-width($modalContainerWidthMobile);
  }
}

.modal__name {
  @include tx-font-size(24px, 29px);
}

.modal__info {
  @include tx-font-size(18px, 18px);
}

.modal__text {
  margin-top: 16px;
}

.modal__button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: none;
  margin: 36px 0 30px;
  padding: 0;
}

.modal__button {
  max-width: 180px;
  margin: 0;

  @include tx-media(phone) {
    max-width: 120px;
  }
}
