.menu {
  @include container-width-media;
  display: flex;
  align-items: center;
  margin-top: 42px;

  @include tx-media(desktopMin) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu__text {
  @include tx-font-size(24px, 29px);
  width: 50%;
  margin: 0;

  @include tx-media(tablet) {
    width: 100%;
  }
}

.menu__inner {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 15px;

  @include tx-media(desktopMin) {
    width: 100%;
    margin: 40px 0 0 0;
  }

  @include tx-media(tablet) {
    flex-direction: column;
  }
}

.menu__checkbox {
  @include tx-layer(under);
  position: absolute;
  opacity: 0;
}

.menu__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.menu__checkbox + label::before {
  @include tx-pseudo(relative);
  min-width: 20px;
  min-height: 20px;
  background: $gray-150;
  border-radius: 6px;
}

.menu__checkbox:checked + label::before {
  background: $gray-150 url('/icons/_check.svg') 60% center no-repeat;
}

.menu__checkbox-label-text {
  @include tx-font-size(14px, 17px);
  margin-left: 10px;
  color: $black-700;
}
