.cards {
  @include container-width-media;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px 0 90px;

  @include tx-media(desktopMin) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include tx-media(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include tx-media(phone) {
    grid-template-columns: repeat(1, 1fr);
  }
}
