<div class="menu">
    <p class="menu-text">Поступившие заявки</p>
    <div class="menu-inner">
        <input class="menu-checkbox" type="checkbox" id="reserved">
        <label class="menu-checkbox-label" for="reserved">
            <span class="menu-checkbox-label-text">Только из заповедника</span>
        </label>
    </select>
    <h1>Single select input</h1>
    <select class="menu-select" name="choices-single-custom-templates" placeholder="This is a placeholder">
<option value="React">React</option>
<option value="Angular">Angular</option>
<option value="Ember">Ember</option>
<option value="Vue">Vue</option>        </select>
    </div>
</div>
