<div class="menu">
    <p class="menu__text">Поступившие заявки</p>
    <div class="menu__inner">
        <input class="menu__checkbox" type="checkbox" id="reserved">
        <label class="menu__checkbox-label" for="reserved">
            <span class="menu__checkbox-label-text">Только из заповедника</span>
        </label>
        <select class="menu__select">
            <option value="Входящие медведи">Входящие медведи</option>
            <option value="Принятые медведи">Принятые медведи</option>
            <option value="Отклонённые медведи">Отклонённые медведи</option>
        </select>
    </div>
</div>
