/* Layout */

html {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Phone Layout */

@import '_layout-phone';

/* Print Layout */

@import '_layout-print';
