.header {
  @include container-width-media;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  background-color: $green-1200;
}

.header-icon {
  background-image: url("/icons/_site-logo.svg");
  height: 33px;
  width: 58px;
}

.header-text {
  @include tx-font-size(24px, 33px);
  margin-left: 12px;
  color: $white;
  font-family: $font-serif;
}
