.footer {
  @include tx-layer(content);
  position: relative;
  width: 100%;
  background-color: $green-1200;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 940px;
  height: 40px;
  margin: 0 auto;
}

.footer-text {
  @include tx-font-size(14px, 17px);
  color: $white;
  font-family: Actor, sans-serif;
}
