.footer {
  @include container-width($contentWidthDesktopMax);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: auto;
  background-color: $green-1200;
}

.footer-text {
  @include tx-font-size(14px, 17px);
  color: $white;
}
