.footer {
  @include tx-layer(content);
  position: relative;
  width: 100%;
  background-color: $green-1100;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0 auto;
  max-width: 940px;
}

.footer-text {
  @include tx-font-size(14px, 17px);
  font-family: Actor;
  color: $white;
}
