<div class="modal">
<div class="card card--modal">
    <span class="close-button--modal"></span>
    <img src="http://i.ibb.co/dcGvCr2/1.jpg" class="card-img--modal">
    <h2 class="card-name card-name--modal">Донна</h2>
    <p class="card-info card-info--modal">Бурый медведь</p>
    <p class="card-info card-info--modal">Самка</p>
    <p class="card-info card-text--modal">Некогда бурый медведь был обычен по всей Европе, включая Англию и Ирландию (Атласский медведь),
        а на востоке через Сибирь и Китай доходил до Японии. В Северную Америку он, вероятно, попал
        около 40 000 лет назад из Азии, через Берингов перешеек и широко расселился в западной части
        континента от Аляски и до севера Мексики.</p>
    <div class="card-button-list--modal">
        <button class="card-button accept card-button--modal">Принять</button>
        <button class="card-button reject card-button--modal">Отклонить</button>
    </div>
</div>
</div>