// Layout

$gap: 30px;

$contentWidthDesktopMax: 940px;
$contentWidthDesktopMin: 700px;
$contentWidthTablet: 420px;
$contentWidthMobile: 300px;

$mediaWidthDesktopMin: 960px;
$mediaWidthTablet: 720px;
$mediaWidthMobile: 420px;
